<ul class="meta clearfix">
	<li class="alpha">Enviada há <%= time_ago_in_words(question.created_at) %> atrás.</li>
	<li class="view"><%= meta_in_words(question.visualizations.count, {
												:singular => 'visualização', 
												:plural => 'visualizações'}) %></li>
	<li class="res"><%= meta_in_words(question.answers.count, {
												:singular => 'resposta', 
												:plural => 'respostas'}) %></li>
	<li class="omega fav"><%= meta_in_words(question.favorites.count, {
												:singular => 'favorito', 
												:plural => 'favoritos'}) %></li>
</ul>
