<div class="question">
	<% unless question.categories.empty? %>
	<ul class="categories clearfix">
		<% question.categories.each do |category| %>
			<li><%= link_to category.name, categoria_path(category) %></li>
		<% end %>
	</ul>
	<% end %>

	<h3><%= link_to  raw(h(question.title)+updates_since_last_login(question).to_s), pergunta_path(question) %></h3>
	<%= render 'questions/info_data', :question => question %>
</div>
