<div class="question">
  <h3><%= link_to question.title, question %></h3>

  <ul class="meta clearfix">
      <li class="alpha">Posted <%= time_ago_in_words(question.created_at) %> ago.</li>
      <li class="view"> visualizações</li>
      <li class="res"> respostas</li>
      <li class="omega fav"> favoritos</li>
  </ul>
</div>