<p class="btn-ask"><%= link_to "Perguntar!", new_question_path %></p>
<h2>Perguntas</h2>


<% if @questions.empty? %>
  <p>Nenhuma pergunta encontrada.</p>
<% else %>
	<%= render 'filters' %>
	<% @questions.each do |question| %>
  	<div class="user-questions">
  		<%= render question %>
  	</div>
  <% end %>
  <%= will_paginate %>
<% end %>
