<div class="social-login">
  <p><strong>Ou utilize um dos serviços abaixo para criar sua conta ou efetuar login:</strong></p>
  <div class="providers clearfix">
    <%= omniauth_providers %>
  </div>
</div>
