<%= render "layouts/breadcrumb" %>
<h2 class="alt">Login</h2>
<div class="box-form">
	<%= render 'form' %>
	<p>Ainda não tem uma conta no Funfou? <%= link_to "Cadastre-se, leva menos de 10 segundos!", new_user_path %></p>
</div>
