<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Olá, <%= @user.name %></h1>
    <p>
      Para criar uma nova senha no Funfou, acesse a seguinte URL: <%= link_to @url, @url %>.
    </p>
    <p>Por favor, ignore este e-mail caso você não tenha solicitado a criação de uma nova senha.</p>
  </body>
</html>
