/*
    Reset 
    \* ......................................................................................................................................... */
    
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
    Globais
\* ......................................................................................................................................... */
body{ background-color: #fff; font-family:Arial, Helvetica, Verdana, sans-serif; }

a{ color: #1D5123;outline: medium none;
text-decoration: none; }
a:hover{ color: #F64448; }


h1{ font-weight:900; font-size: 55px; color: #000; font-family: Helvetica, Arial, sans-serif; text-transform:uppercase; letter-spacing:-1.5px; text-shadow: 2px 2px 0px #fff; }

h1 a{ color: #000; text-decoration: none; }
h1 a:hover{ color: #333; }

div#logo a{float:left;}
div#logo span{font-size:14px;font-weight:900;margin:19px 0 0 12px; color:#205791;display:block;float:left;}

/*
    Layout
\* ......................................................................................................................................... */

/*
    Header
\* ......................................................................................................................................... */

header{ width: 1060px; margin: 32px auto; display:block; }

header div#search{ float:right; margin:0 0 0; }

header div#search input#fld-search{border:1px solid #ccc;padding:6px;width:270px;
-webkit-border-top-left-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-bottomleft: 3px;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
-webkit-border-top-right-radius: 0!important;
-webkit-border-bottom-right-radius: 0!important;
-moz-border-radius-topright: 0!important;
-moz-border-radius-bottomright: 0!important;
border-top-right-radius: 0!important;
border-bottom-right-radius: 0!important;
}

header div#search input#btn-search{
  padding:6px;
  color: #fff;
  font-weight:900;
  background:#333 url(/images/search.png) 6px 5px no-repeat;
  border: none;
  width:28px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  
  -webkit-border-top-left-radius: 0!important;
  -webkit-border-bottom-left-radius: 0!important;
  -moz-border-radius-topleft: 0!important;
  -moz-border-radius-bottomleft: 0!important;
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
  
  cursor:pointer;
}

header div#search input#btn-search:hover{
background-color:#F64448;
}
/*
div.info{ 
	background-color: #ffffdf; padding:12px; text-align: center;
border: 1px solid #ccc; font-size:12px;
font-family: Helvetica, Arial, sans-serif;
color:#666;
}
*/
div#user-greetings{
  line-height:28px;
  float:left;
}

div#account-info{
  border-top:1px solid #000;
  background-color:#333;
  padding:0 0;
  font-size:12px;
  color:#ccc;
  padding:4px;
}

div#account-info div.container{
	margin: 0 auto;
	width:1060px;
}

div#account-info a{
  color:#fff;
}

div#account-info a:hover{
  color:#f2f2f2;
}

div#account-info ul#user-options{
  float:right;
}

div#user-greetings img{
  margin:0 12px 0 0;
  border:1px solid #666;
}

div#account-info ul#user-options li{
line-height:28px;
padding:0 4px 0 4px;
display:inline-block;
}

div#account-info ul#user-options li.perguntar span.ui-button-text{
  color:#000;
}

div#account-info img {
  float:left;
}

div#account-info ul#user-options li{
  float:left;
  margin:0 12px 0 0;
}

div#account-info ul#user-options li.omega{
  margin:0 0;
  padding:0 0 ;
}

.btn-ask{
  padding:24px;
  float:right;
}

.btn-ask a{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color:#1D5123;
  color:#fff;
  text-decoration:none;
  padding:6px;
}

.btn-ask a:hover{
  background-color:#F64448;
}

#user-sidebar{
  background-color:#f2f2f2;
  padding:12px;
  border-left:12px solid #DFE6F6;
  border-top:12px solid #DFE6F6;
  border-bottom:12px solid #DFE6F6;
}

div.breadcrumb-container{
display:block!important;
}

ul.breadcrumb li{
	float:left;
	font-size:12px;
	font-weight:900;
	height:28px;
	line-height:28px;
	padding:0 0 0 12px;
}

ul.breadcrumb li.separator{
  color:#333;
  width:21px;
  padding:0 0;
  margin:0 0 0 12px;
  height:28px;
  color:#666;
  background:url(/images/separator.png) 0 0 no-repeat;
  text-indent:-9999px;
}

ul.breadcrumb li.active a{
  color:#000;
}

ul.breadcrumb li a:hover {
  color:#f64448;
  border-bottom:1px dotted #f64448;
}

ul.breadcrumb li.home a:hover{
  border:none;
}

#filters a:hover{
  color:#f64448;
  
}

ul.breadcrumb li.home a{
  margin:0 0;
  display:inline-block;
  padding:3px 0 0;
}

/*
    Menu
\* ......................................................................................................................................... */


/*
    Conteúdo
\* ......................................................................................................................................... */

section#content{ background: #fff; margin:0 auto;  width:1060px;
padding: 0 0 12px 0;
display:block;
}

section#content h2{
	font-size:36px;
	color:#666;
	letter-spacing:-1px; 
	text-shadow: 2px 2px 0px #fff;
	margin:12px 0 0;
	border-bottom:1px dotted #666;
	padding:6px 0 6px 0;
}

div.content-single{padding:12px;}

div#questions-sidebar{
	float:right;
	width:260px;
	background-color:#f2f2f2;
}

div#questions-list{
	float:left;
	width:788px;
	margin:0 12px 0 0;
}

div.question{ padding:12px 0 12px 0; margin: 12px 0 12px 0;}

div.question h3 a{color:#333;}
div.question h3 a:hover{color:#F64448;}

div.question span.question-updates{ margin:0 0 0 -12px; background-color:red; color:#fff; -moz-border-radius:30px; width:13px; height:13px; padding:5px; display:inline-block; font-size:12px; text-align:center; }

div.question p{ font-size: 20px; font-weight: 500; color: #333; line-height:26px; }
div.question p a{ color: #333; text-decoration: none;font-family:Arial, Helvetica, sans-serif; }
div.question p a:hover{ color: #1D5123; }

div.question p a pre{ font-size:12px; font-family:'Droid Sans Mono', monospace;}

div.question ul.meta{ margin: 12px 0 12px 0; }
div.question ul.meta li{ float:left; font-size:12px; color: #666; margin: 0 12px 0 12px; padding: 0 0 0 15px;  }
div.question ul.meta li.alpha{ margin: 0 12px 0 0; padding: 0 0; }
div.question ul.meta li.omega{ margin: 0 0 0 12px; }

div.question ul.meta li.view{ background: url(../images/icons/view.png) 0 0 no-repeat;}
div.question ul.meta li.fav{ background: url(../images/icons/fav.png) 0 0 no-repeat;}
div.question ul.meta li.res{ background: url(../images/icons/res.png) 0 0 no-repeat;}

div.question ul.categories{ margin: 0 0; }
div.question ul.categories li{ float: left; margin: 0 6px 0 0; }
div.question ul.categories li{ font-size:12px;}
div.question ul.categories li a{ color: #fff; text-decoration: none; font-weight:900; display:inline-block;
 background-color: #F64448; padding:6px; 
font-family: Helvetica, Arial, sans-serif;
-webkit-border-top-right-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-topright: 6px;
-moz-border-radius-bottomleft: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;

}
div.question ul.categories li a:hover{background-color:#333;}

a.publish, a.unpublish{ color:#fff !important; background-color:red; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; padding:4px; font-size:12px!important; margin:8px;text-align:center; text-decoration:none; }

a.unpublish{ background:green!important; }
div#filters{
	margin:24px 0 0;
}
/*
div#filters{
	border-bottom:1px solid #ccc;
	margin:12px 0 0;
}
ul#question-filters li{
	float:left;
	padding:12px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	font-size:14px;
	background:#e2e2e2 url(/images/bg-bread.png) 0 0 repeat-x;
}

ul#question-filters li.alpha{
	border-left:1px solid #ccc;
}

ul#question-filters li.active{
  background:#f3f3f3 url(/images/bg-bread-active.png) 0 0 repeat-x;
  border-color:#ccc;
}

ul#question-filters li.active a{
	color:#333;
	font-weight:900;
}

ul#question-filters li.perguntar{
	float:right;
	border:none;
	background:#1d3c21 url(/images/bg-perguntar.png) 0 0 repeat-x;
	border-top:1px solid #1d5123;
}


ul#question-filters li.perguntar a{
	color:#fff;
	font-weight:900;
}
*/

ul#question-filters li.perguntar{
	position:absolute;
  right:0;
  margin: 9px 0;
}

ul#question-filters li.perguntar a{
  padding:0 0 !important;
  margin-top:-10px;
}

ul#question-filters li.perguntar a span{
    font-size:12px !important;  
}

div.question ul.tags li a:hover{ background-color: #F64448; }

div.question h2{
  font-size:32px;
  padding: 0 0!important;
}

#favorite-form{
  float:right;
}

div.question div.description{
  padding:12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div.question pre{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div.question h3{
  font-size:26px;
	letter-spacing:-1px;
  color:#333;
  margin:12px 0 12px 0;
}

ul.question-answers{
  margin:12px 0 12px 0;
}

ul.question-answers li{
  padding:12px;
}

ul.question-answers li div.info-data{
  color:#666;
  margin:12px 0 12px 0;
  padding:4px 0 0;
  font-size:12px;
  border-top:1px solid #ccc;
}


input[type="submit"], input[type="button"]{ cursor:pointer; }

h2.alt{text-align:center;border:none!important;color:#999!important;}

div.box-form{
width:500px;
margin:20px auto;
padding:24px;
background:#fff;
border:8px solid #eee;
width:500px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
-moz-box-shadow:0 0 10px #4e707c;
-webkit-box-shadow:0 0 10px #4e707c;
box-shadow:0 0 10px #4e707c;
text-align:left;
position:relative;

}

div.box-form label {
	color:#666;
	font-weight:900;
}

div.box-form div.field{
  margin:0 0 24px 0;
}

div.box-form div.actions{
	margin:12px 0 0;
}

div.box-form input[type="submit"]{
	font-size:14px;
	font-weight:900;
	padding:8px!important;
}

div.box-form input[type="submit"]:hover{
	color:#f64448;
}

div#login-form input[type="text"], div#login-form input[type="password"],
div#password-form input[type="text"]{
  width:400px;
  padding:12px;
  font-size:14px;
  font-weight:900;
}

p.member-login{
	margin:24px 0 0;
	font-size:12px;
	color:#666;
}

div#user-form input[type="text"]{
	width:400px;
	padding:5px;
}

/*
    Footer
\* ......................................................................................................................................... */

footer{

	display:block;
	margin:0 auto;
	font-size:12px;
	background-color:#333;
	color:#f2f2f2;
	width:1060px;
}

footer a{color:#F64448;}

footer div{ 
  	padding: 24px;
}
footer ul{ float: right;}
footer ul li{ float:left; padding:0 6px 0 0; margin: 0 6px 0 0; border-right:1px dotted #ccc;}
footer ul li.last{margin:0 0;padding:0 0;border:none;}

footer a:hover{
  border-bottom:1px dotted #f64448;
}

#account-info a:hover{
  border-bottom:1px dotted #f64448;
}

#account-info a.ui-button{border:none!important;font-size:12px!important;}


/*
    Útil
\* ......................................................................................................................................... */

.clearfix:after                 { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix                { zoom: 1; } /* IE6 */
*:first-child+html .clearfix    { zoom: 1; } /* IE7 */

.field_with_errors{
  display:inline;
}

.field_with_errors label {
  background-color:red!important;
  color: #fff!important;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 14px!important;
  margin: -7px;
  background-color: #c00;
  color: #fff!important;
	text-shadow:none!important;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
  font-weight:900;
  color:red;
}

#error_explanation ul{
  margin:12px;
}

#error_explanation ul li {
  font-size: 12px;
}

.apple_pagination {
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  text-align: center;
  padding: 1em; }
  em{
    color: #f64448!important;
  }
  .apple_pagination a, .apple_pagination span {
    padding: .2em .3em; }
  .apple_pagination span.disabled {
    color: #AAA; }
  .apple_pagination span.current {
    font-weight: bold;
    background: transparent url(apple-circle.gif) no-repeat 50% 50%; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }


/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */
.error,
.alert, 
.notice,
.success, 
.info 			{ padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd;margin:12px 0 0 0;text-align:center; }
.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice     { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info 			{ background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
.info a			{ color: #205791; }


div#debug { width: 1060px; margin: 24px auto; display:block; background-color:#fff; padding:12px; }
