/*
    Reset 
    \* ......................................................................................................................................... */
    
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
    Globais
\* ......................................................................................................................................... */
body{ background-color: #fff; font-family:Arial, Helvetica, Verdana, sans-serif; }

a{ color: #1D5123;outline: medium none;
text-decoration: none; }
a:hover{ color: #F64448; }


h1{ font-weight:900; font-size: 55px; color: #000; font-family: Helvetica, Arial, sans-serif; text-transform:uppercase; letter-spacing:-1.5px; text-shadow: 2px 2px 0px #fff; }

h1 a{ color: #000; text-decoration: none; }
h1 a:hover{ color: #333; }

div#logo a{float:left;}
div#logo span{font-size:14px;font-weight:900;margin:19px 0 0 12px; color:#F64448;display:block;float:left;}

/*
    Layout
\* ......................................................................................................................................... */

/*
    Header
\* ......................................................................................................................................... */

header{ width: 1060px; margin: 32px auto; display:block; }

header div#search{ float:right; margin:0 0 0; }

header div#search input#fld-search{border:1px solid #ccc;padding:6px;width:270px;

-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

}

header div#search input#btn-search{
    padding:6px;
    color: #fff;
    font-weight:900;
    background-color:#1D5123;
    border: none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
cursor:pointer;
}

header div#search input#btn-search:hover{
background-color:#F64448;
}
/*
div.info{ 
	background-color: #ffffdf; padding:12px; text-align: center;
border: 1px solid #ccc; font-size:12px;
font-family: Helvetica, Arial, sans-serif;
color:#666;
}
*/
div#user-greetings{
  line-height:28px;
  float:left;
}

div#account-info{
  border-top:1px solid #000;
  background-color:#333;
  padding:0 0;
  font-size:12px;
  color:#ccc;
  padding:4px;
}

div#account-info div.container{
	margin: 0 auto;
	width:1060px;
}

div#account-info a{
  color:#fff;
}

div#account-info a:hover{
  color:#f2f2f2;
}

div#account-info ul#user-options{
  float:right;
}

div#user-greetings img{
  margin:0 12px 0 0;
  border:1px solid #666;
}

div#account-info ul#user-options li{
line-height:28px;
padding:0 4px 0 4px;
display:inline-block;
}

div#account-info ul#user-options li.perguntar a{
  color:#F64448;
}

div#account-info img {
  float:left;
}

div#account-info ul#user-options li{
  float:left;
  margin:0 12px 0 0;
}

.btn-ask{
  padding:24px;
  float:right;
}

.btn-ask a{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color:#1D5123;
  color:#fff;
  text-decoration:none;
  padding:6px;
}

.btn-ask a:hover{
  background-color:#F64448;
}

#user-sidebar{
  float:right;
  background-color:#f2f2f2;
  padding:12px;
  width:250px;
  border-left:12px solid #DFE6F6;
  border-top:12px solid #DFE6F6;
  border-bottom:12px solid #DFE6F6;
}

div.breadcrumb-container{
	background-color:#f2f2f2;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}

ul.breadcrumb li{
	float:left;
	padding:12px;
	margin:1px;
	font-size:12px;
	font-weight:900;
}

ul.breadcrumb li.separator{
  padding:12px 0 12px 0;
  color:#ccc;
}

ul.breadcrumb li.active a{
  color:#F64448;
}

/*
    Menu
\* ......................................................................................................................................... */


/*
    Conteúdo
\* ......................................................................................................................................... */

section#content{ background: #fff; margin:0 auto;  width:1060px;
padding: 0 0 12px 0;
display:block;
}

section#content h2{
	font-size:36px;
	color:#666;
	letter-spacing:-1.5px; 
	text-shadow: 2px 2px 0px #fff;
	text-transform:lowercase;
	margin-top:24px;
}

div.content-single{padding:12px;}

div.question{ padding:12px 0 12px 0; margin: 12px 0 12px 0;}

div.question h3 a{color:#333;}
div.question h3 a:hover{color:#F64448;}

div.question span.question-updates{ margin:0 0 0 -12px; background-color:red; color:#fff; -moz-border-radius:30px; width:13px; height:13px; padding:5px; display:inline-block; font-size:12px; text-align:center; }

div.question p{ font-size: 20px; font-weight: 500; color: #333; line-height:26px; }
div.question p a{ color: #333; text-decoration: none;font-family:Arial, Helvetica, sans-serif; }
div.question p a:hover{ color: #1D5123; }

div.question p a pre{ font-size:12px; font-family:'Droid Sans Mono', monospace;}

div.question ul.meta{ margin: 12px 0 12px 0; }
div.question ul.meta li{ float:left; font-size:12px; color: #666; margin: 0 12px 0 12px; padding: 0 0 0 15px;  }
div.question ul.meta li.alpha{ margin: 0 12px 0 0; padding: 0 0; }
div.question ul.meta li.omega{ margin: 0 0 0 12px; }

div.question ul.meta li.view{ background: url(../images/icons/view.png) 0 0 no-repeat;}
div.question ul.meta li.fav{ background: url(../images/icons/fav.png) 0 0 no-repeat;}
div.question ul.meta li.res{ background: url(../images/icons/res.png) 0 0 no-repeat;}

div.question ul.categories{ margin: 0 0; }
div.question ul.categories li{ float: left; margin: 0 6px 0 0; }
div.question ul.categories li{ font-size:12px;}
div.question ul.categories li a{ color: #fff; text-decoration: none; font-weight:900; display:inline-block;
 background-color: #1D5123; padding:6px; 
font-family: Helvetica, Arial, sans-serif;
-webkit-border-top-right-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-topright: 6px;
-moz-border-radius-bottomleft: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;

}
div.question ul.categories li a:hover{background-color:#333;}

a.publish, a.unpublish{ color:#fff !important; background-color:red; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; padding:4px; font-size:12px!important; margin:8px;text-align:center; text-decoration:none; }

a.unpublish{ background:green!important; }

div#filters{
	border-bottom:2px solid #ccc;
	margin:12px 0 0;
}

ul#question-filters li{
	float:left;
	padding:12px;
	border-top:2px solid #ccc;
	border-right:2px solid #ccc;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	font-size:14px;
}

ul#question-filters li.alpha{
	border-left:2px solid #ccc;
}

ul#question-filters li.active{
	background-color:#f2f2f2;
}

ul#question-filters li.active a{
	color:#333;
	font-weight:900;
}

ul#question-filters li.perguntar{
	float:right;
	border:none;
	background-color:#1D5123;
	margin-top:2px;
}

ul#question-filters li.perguntar:hover{
	background-color:#F64448;
}

ul#question-filters li.perguntar a{
	color:#fff;
	font-weight:900;
}
/*
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
*/


-webkit-border-top-left-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-bottomright: 3px;
border-top-left-radius: 3px;
border-bottom-right-radius: 3px;

}
div.question ul.tags li a:hover{ background-color: #F64448; }

div.question h2{
  font-size:32px;
  padding: 0 0!important;
}

#favorite-form{
  float:right;
}

div.question div.description{
  padding:12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div.question pre{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div.question h3{
  font-size:26px;
	letter-spacing:-1px;
  color:#333;
  margin:12px 0 12px 0;
}

ul.question-answers{
  margin:12px 0 12px 0;
}

ul.question-answers li{
  padding:12px;
}

ul.question-answers li div.info-data{
  color:#666;
  margin:12px 0 12px 0;
  padding:4px 0 0;
  font-size:12px;
  border-top:1px solid #ccc;
}

/*
    Footer
\* ......................................................................................................................................... */

footer{

	display:block;
	font-size:12px;
	padding: 24px;
	background-color:#333;
	color:#f2f2f2;
}

footer a{color:#F64448;}

footer div{ 
  margin: 0 auto;
	width: 1060px;
}
footer ul{ float: right;}
footer ul li{ float:left; padding:0 6px 0 0; margin: 0 6px 0 0; border-right:1px dotted #ccc;}
footer ul li.last{margin:0 0;padding:0 0;border:none;}

/*
    Paginação 
\* ......................................................................................................................................... */

.lista-paginacao li{
    border:0; margin:0; padding:0;
    list-style:none;
    margin-right:2px;
}
.lista-paginacao a{
    border:solid 1px #9aafe5;
    margin-right:2px;
}
.lista-paginacao .previous-off,
.lista-paginacao .next-off {
    border:solid 1px #DEDEDE
    color:#888888
    display:block;
    float:left;
    font-weight:bold;
    margin-right:2px;
    padding:3px 4px;
}
.lista-paginacao .next a,
.lista-paginacao .previous a {
    font-weight:bold;
}
.lista-paginacao .active{
    background:#2e6ab1;
    color:#FFFFFF;
    font-weight:bold;
    display:block;
    float:left;
    padding:4px 6px;
}
.lista-paginacao a:link,
.lista-paginacao a:visited {
    color:#0e509e
    display:block;
    float:left;
    padding:3px 6px;
    text-decoration:none;
}
.lista-paginacao a:hover{
    border:solid 1px #0e509e;
}

/*
    Útil
\* ......................................................................................................................................... */

.clearfix:after                 { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix                { zoom: 1; } /* IE6 */
*:first-child+html .clearfix    { zoom: 1; } /* IE7 */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* --------------------------------------------------------------

   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms

   Usage:
   * For text fields, use class .title or .text
   * For inline forms, use .inline (even when using columns)

-------------------------------------------------------------- */

/* 
	A special hack is included for IE8 since it does not apply padding 
	correctly on fieldsets
 */ 
label       { font-weight: bold; }
fieldset    { padding:0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; margin-top:-0.2em; margin-bottom:1em; }

fieldset, #IE8#HACK { padding-top:1.4em; } 
legend, #IE8#HACK { margin-top:0; margin-bottom:0; }

/* Form fields
-------------------------------------------------------------- */

/* 
  Attribute selectors are used to differentiate the different types 
  of input elements, but to support old browsers, you will have to 
  add classes for each one. ".title" simply creates a large text  
  field, this is purely for looks.
 */
input[type=text], input[type=password],
input.text, input.title,
textarea {
  background-color:#fff;
  border:1px solid #bbb;
}
input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus,
textarea:focus {
  border-color:#666;
}
select { background-color:#fff; border-width:1px; border-style:solid; }

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  margin:0.5em 0;
}

input.text,
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px; }

/* 
  This is to be used on forms where a variety of elements are 
  placed side-by-side. Use the p tag to denote a line. 
 */
form.inline { line-height:3; }
form.inline p { margin-bottom:0; }

.apple_pagination {
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  text-align: center;
  padding: 1em; }
  .apple_pagination a, .apple_pagination span, .apple_pagination em {
    padding: .2em .3em; color:#1D5123; }
	  .apple_pagination span.disabled {
    color: #AAA; }
	  .apple_pagination em {
    font-weight: bold;
    background: transparent url(apple-circle.gif) no-repeat 50% 50%; }
	  .apple_pagination a {
    text-decoration: none;
    color: black; }
	    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }


/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */

.error,
.alert, 
.notice,
.success, 
.info 			{ padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice     { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info 			{ background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
.info a			{ color: #205791; }


div#debug { width: 1060px; margin: 24px auto; display:block; background-color:#fff; padding:12px; }
