/* Reset
-------------------------------------------------------------- */
    
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Globals
-------------------------------------------------------------- */
body {
  background-color:#fff;
  font-family:Arial, Helvetica, Verdana, sans-serif;
}

a {
  color:#1D5123;
  outline:medium none;
  text-decoration:none;
}

a:hover {
  color:#F64448;
}

h1 {
  font-weight:900;
  font-size:55px;
  color:#000;
  font-family:Helvetica, Arial, sans-serif;
  text-transform:uppercase;
  letter-spacing:-1.5px;
  text-shadow:2px 2px 0 #fff;
}

h1 a {
  color:#000;
  text-decoration:none;
}

h1 a:hover {
  color:#333;
}


/* Layout
-------------------------------------------------------------- */

div.breadcrumb-container {
  display:block!important;
}

ul.breadcrumb li {
  float:left;
  font-size:12px;
  font-weight:900;
  height:28px;
  line-height:28px;
  padding:0 0 0 12px;
}

ul.breadcrumb li.separator {
  width:21px;
  height:28px;
  color:#666;
  background:url(/images/separator.png) 0 0 no-repeat;
  text-indent:-9999px;
  margin:0 0 0 12px;
  padding:0;
}

ul.breadcrumb li.active a {
  color:#000;
}

ul.breadcrumb li a:hover {
  color:#f64448;
  border-bottom:1px dotted #f64448;
}

ul.breadcrumb li.home a:hover {
  border:none;
}

#filters a:hover {
  color:#f64448;
}

ul.breadcrumb li.home a {
  display:inline-block;
  margin:0;
  padding:3px 0 0;
}

section#content {
  background:#fff;
  width:1060px;
  display:block;
  margin:0 auto;
  padding:0 0 12px;
}

section#content h2 {
  font-size:42px;
  color:#000;
  letter-spacing:-1px;
  text-shadow:2px 2px 0 #fff;
  border-bottom:1px dotted #666;
  margin:12px 0 0;
  padding:6px 0;
}

div.content-single {
  padding:12px;
}

/* Header
-------------------------------------------------------------- */

header {
  width:1060px;
  display:block;
  margin:32px auto;
}

header div#search {
  float:right;
  margin:3px 0 0;
}

div#logo span {
  font-size:14px;
  font-weight:900;
  color:#666;
  display:block;
  float:left;
  margin:19px 0 0 12px;
}

header div#search input#fld-search {
  border:1px solid #ccc;
  width:270px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  -webkit-border-top-right-radius:0!important;
  -webkit-border-bottom-right-radius:0!important;
  -moz-border-radius-topright:0!important;
  -moz-border-radius-bottomright:0!important;
  border-top-right-radius:0!important;
  border-bottom-right-radius:0!important;
  padding:6px;
}

header div#search input#btn-search {
  color:#fff;
  font-weight:900;
  background:#333 url(/images/search.png) 6px 5px no-repeat;
  border:none;
  width:28px;
  -webkit-border-top-right-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  -moz-border-radius-topright:3px;
  -moz-border-radius-bottomright:3px;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
  -webkit-border-top-left-radius:0!important;
  -webkit-border-bottom-left-radius:0!important;
  -moz-border-radius-topleft:0!important;
  -moz-border-radius-bottomleft:0!important;
  border-top-left-radius:0!important;
  border-bottom-left-radius:0!important;
  cursor:pointer;
  padding:6px;
}

div#user-greetings {
  line-height:28px;
  float:left;
}

.user-url {
  font-size:12px;
  background-color:#f2f2f2;
  padding:12px;
}

div#account-info {
  border-top:1px solid #000;
  background-color:#333;
  font-size:12px;
  color:#ccc;
  background-image:0 47% #363636 100% );
  padding:4px;
}

div#account-info div.container {
  width:1060px;
  margin:0 auto;
}

div#account-info a {
  color:#fff;
}

div#account-info a:hover {
  color:#f2f2f2;
}

div#user-greetings img {
  border:1px solid #666;
  margin:0 12px 0 0;
}

div#account-info ul#user-options li {
  line-height:28px;
  display:inline-block;
  float:left;
  margin:0 12px 0 0;
  padding:0 4px;
}

div#account-info ul#user-options li.perguntar span.ui-button-text {
  color:#000;
}

div#account-info ul#user-options li.omega {
  margin:0;
  padding:0;
}

div#debug {
  width:1060px;
  display:block;
  background-color:#fff;
  margin:24px auto;
  padding:12px;
}

.snippet-menu {
  text-align:right;
}

ul#categories {
  margin:12px;
}

ul#categories li {
  float:left;
  width:30%;
  font-size:12px;
  color:#666;
  padding:12px;
}

uL#categories li a {
  font-size:16px;
  font-weight:900;
  letter-spacing:-1px;
}

.round {
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.user-content {
  padding:24px 0 0;
}

.user-content h3.main {
  color:#333;
  text-shadow:2px 2px 0 #fff;
  font-size:28px;
  letter-spacing:-1px;
  border-bottom:1px dotted #ccc;
}

.box-sidebar {
  padding:12px;
}

#side-categories li {
  float:left;
  font-size:12px;
  margin:4px;
}

#side-categories li a {
  color:#fff;
  text-decoration:none;
  font-weight:900;
  display:inline-block;
  background-color:#F64448;
  font-family:Helvetica, Arial, sans-serif;
  -webkit-border-top-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-topright:6px;
  -moz-border-radius-bottomleft:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  font-size:14px;
  padding:6px;
}

#side-categories li a:hover {
  background-color:#1D5123;
}

.box-sidebar h3 {
  text-shadow:2px 2px 0 #fff;
  font-size:20px;
  letter-spacing:-1px;
  margin:4px 0;
}

div.perguntar a {
  width:235px;
}

div#tweets {
  font-size:12px;
}

ul.tweet_list {
  margin:6px 0 0;
}

ul.tweet_list li {
  border-bottom:1px dotted #ccc;
  font-size:12px;
  line-height:18px;
  margin:4px 0;
  padding:6px 0;
}

ul.tweet_list li img {
  float:left;
  border:2px solid #ccc;
  margin:0 4px 0 0;
}

.ui-autocomplete {
  background-color:#eee;
  position:absolute;
  cursor:default;
}

.ui-autocomplete .ui-menu-item a {
  display:block;
  text-decoration:none;
  line-height:12px;
  padding:4px 6px;
}

.ui-autocomplete .ui-menu-item a.ui-state-hover,.ui-autocomplete .ui-menu-item a.ui-state-active {
  background-color:#78959D;
  color:#fff;
  margin:0;
}

.ui-autocomplete-loading {
  background:#FFF url(images/ui-anim_basic_16x16.gif) right center no-repeat;
}

ul.tagit {
  overflow:auto;
  border-color:#C6C6C6;
  border-style:dotted;
  border-width:1px;
  padding:1px 5px;
}

ul.tagit li {
  -moz-border-radius:5px;
  display:block;
  float:left;
  margin:2px 5px 2px 0;
}

ul.tagit li.tagit-choice {
  background-color:#DEE7F8;
  border:1px solid #CAD8F3;
  padding:2px 4px 3px;
}

ul.tagit li.tagit-choice:hover {
  background-color:#bbcef1;
  border-color:#6d95e0;
}

ul.tagit li.tagit-new {
  padding:2px 4px 1px 0;
}

ul.tagit li.tagit-choice input {
  display:block;
  float:left;
  margin:2px 5px 2px 0;
}

ul.tagit li.tagit-choice a.close {
  color:#777;
  cursor:pointer;
  font-size:12px;
  font-weight:700;
  outline:medium none;
  text-decoration:none;
  padding:2px 0 2px 3px;
}

ul.tagit input[type="text"] {
  -moz-box-sizing:border-box;
  border:none;
  width:inherit;
  background-color:#FFF;
  color:#333;
  border-color:#C6C6C6;
  margin:0;
  padding:0;
}

.box-comments ul {
  margin:24px 0 24px 24px;
}

.box-comments ul li {
  border-top:1px dotted #ccc;
  font-size:12px;
  color:#333;
}

.box-comments ul li div {
  float:left;
  padding:6px;
}

.box-comments ul li div.comment-content {
  width:860px;
  line-height:18px;
}

.box-comments ul li div.comment-avatar img {
  border:2px solid #ccc;
}

.box-comments ul li span.comment-info {
  display:block;
  color:#999;
  margin:0 0 6px;
}

.form-comment {
  margin:40px 0 0;
}

.form-comment input[type="submit"] {
  float:right;
  margin-top:10px;
  font-size:13px;
  font-weight:900;
  width:80px;
}

.form-comment textarea {
  width:90%;
  height:40px;
  margin:0;
}

#new_question input[type="text"] {
  width:792px;
  font-size:18px;
  color:#333;
}

#new_question textarea {
  width:784px;
  font-family:Arial, Helvetica, sans-serif;
  padding:8px;
}

#account-info a:hover {
  border-bottom:1px dotted #f64448;
}

#account-info a.ui-button {
  border:none!important;
  font-size:12px!important;
}

.btn-ask {
  float:right;
  padding:24px;
}

.btn-ask a {
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  background-color:#1D5123;
  color:#fff;
  text-decoration:none;
  padding:6px;
}

div#logo a,div#account-info img {
  float:left;
}

header div#search input#btn-search:hover,.btn-ask a:hover {
  background-color:#F64448;
}

div#account-info ul#user-options,.box-share .j-button {
  float:right;
}

/* Conteúdo
-------------------------------------------------------------- */

div#box-form-answer {
  width:800px;
}

div#box-form-answer label {
  display:block;
}

div#box-form-answer p, div#box-form-question p {
  font-size:12px;
  line-height:14px;
  margin:12px 0 12px 0;
  color:#333;
}

div#box-form-answer p strong, div#box-form-question p strong {
  font-size:14px;
  font-weight:900;
}

div#box-form-answer textarea {
  width:790px;
  height:300px;
}

div#box-form-user input[type="submit"] {
  font-size:14px;
  font-weight:900;
  padding:8px;
}

div#box-form-user div.field label {
  font-weight:900;
  color:#666;
  display:inline-block;
  margin:0 0 6px;
}

div#box-form-avatar img {
  border:2px solid #ccc;
}

div#box-form-avatar a.lnk-del-img {
  color:red;
  font-size:12px;
  display:inline-block;
  margin:12px 0;
}

div#box-form-avatar div.actions {
  font-size:12px;
}

div#box-form-avatar div.confirmation {
  background-color:#f2f2f2;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  margin:6px;
  padding:6px;
}

div#box-form-avatar div#avatar-field label {
  font-size:16px!important;
}

div#box-form-avatar div.confirmation ul li {
  float:left;
  margin:4px 12px 0 0;
}

div#box-form-avatar div.confirmation ul li a.no {
  font-weight:900;
  font-size:13px;
}

div#box-form-question div.field label {
  display:block;
  font-weight:900;
  color:#666;
  margin:0 0 6px;
}

div#box-form-question input[type="submit"] {
  font-size:14px;
  font-weight:900;
  padding:6px;
}

div#questions-sidebar {
  float:right;
  width:260px;
  background-color:#f2f2f2;
}

div#questions-list {
  float:left;
  width:788px;
  margin:0 12px 0 0;
}

div#questions-list div.question, div.user-questions div.question {
  border-bottom:1px solid #ccc;
}

div.question {
  margin:12px 0;
  padding:12px 0;
}

div.question h2 {
  border:none!important;
  color:#333!important;
  letter-spacing:-.05em!important;
  line-height:42px!important;
  font-size:42px!important;
  padding:0!important;
}

div.question h3 a {
  color:#333;
}

div.question span.question-updates {
  background-color:red;
  color:#fff;
  -moz-border-radius:30px;
  width:13px;
  height:13px;
  display:inline-block;
  font-size:12px;
  text-align:center;
  margin:0 0 0 -12px;
  padding:5px;
}

div.question p {
  font-size:20px;
  font-weight:500;
  color:#333;
  line-height:26px;
}

div.question p a {
  color:#333;
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
}

div.question p a:hover {
  color:#1D5123;
}

div.question p a pre {
  font-size:12px;
  font-family:'Droid Sans Mono', monospace;
}

div.question ul.meta li.fb iframe {
  width:70px!important;
}

li.share {
  float:right!important;
}

div.question ul.meta img {
  float:left;
  border:1px solid #ccc;
  margin:-5px 12px 0 0;
}

div.question ul.meta li {
  float:left;
  font-size:12px;
  color:#666;
  margin:0 12px;
  padding:0 0 0 15px;
}

div.question ul.meta li.alpha {
  margin:0 12px 0 0;
  padding:0;
}

div.question ul.meta li.omega {
  margin:0 0 0 12px;
}

div.box-share {
  background-color:#f2f2f2;
  text-align:right;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  margin:12px 0 0;
  padding:4px;
}

div.box-share ul li {
  float:left;
  margin:0 6px;
  padding:4px 0 0;
}

h2.question-show {
  clear:left;
}

ul.user-list li {
  font-weight:900;
  font-size:14px;
  margin:4px;
  padding:12px;
}

ul.user-list li p.user-info {
  border:none;
  color:#666;
  padding:12px 0 0;
}

ul.user-list li.odd {
  background-color:#f2f2f2;
  border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
}

ul.user-list li h3 {
  font-size:32px;
}

ul.user-list li h3 span {
  font-size:12px;
  color:#fff;
  background-color:#333;
  margin:0 0 0 12px;
  padding:5px;
}

ul.user-list li img {
  border:2px solid #ccc;
  float:left;
  margin:0 12px 0 0;
}

div.question ul.meta li.view {
  background:url(../images/icons/view.png) 0 0 no-repeat;
}

div.question ul.meta li.fav {
  background:url(../images/icons/fav.png) 0 0 no-repeat;
}

div.question ul.meta li.res {
  background:url(../images/icons/res.png) 0 0 no-repeat;
}

div.question ul.categories {
  margin:0;
}

div.question ul.categories li {
  float:left;
  font-size:12px;
  margin:0 6px 0 0;
}

div.question ul.categories li a {
  color:#fff;
  text-decoration:none;
  font-weight:900;
  display:inline-block;
  background-color:#F64448;
  font-family:Helvetica, Arial, sans-serif;
  -webkit-border-top-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-topright:6px;
  -moz-border-radius-bottomleft:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  padding:6px;
}

div.question ul.categories li a:hover {
  background-color:#333;
}

a.publish,a.unpublish {
  color:#fff!important;
  background-color:red;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  font-size:12px!important;
  text-align:center;
  text-decoration:none;
  margin:8px;
  padding:4px;
}

a.unpublish {
  background:green!important;
}

div#filters {
  margin:24px 0 0;
}

ul#question-filters li.perguntar {
  position:absolute;
  right:0;
  margin:9px 0;
}

ul#question-filters li.perguntar a {
  margin-top:-10px;
  padding:0!important;
}

ul#question-filters li.perguntar a span {
  font-size:12px!important;
}

div.question ul.tags li a:hover {
  background-color:#F64448;
}

#favorite-form {
  float:right;
  margin:20px 0 10px;
  padding:0;
}

div.question div.description {
  font-size:14px;
  color:#333;
  border:2px solid #f2f2f2;
  line-height:20px;
  margin:24px 0;
  padding:12px;
}

div.question div.description pre {
  font-size:14px;
}

h3.answers {
  background-color:#F9FFC2;
  padding:6px;
}

h3.answers a,h2.category a {
  font-size:12px;
  color:#1D5123;
  margin:0 0 0 12px;
}

p.user-info span {
  background-color:#fff;
  display:inline-block;
  padding:3px;
}

p.user-info {
  border-bottom:1px dotted #ccc;
  font-size:12px;
  padding:12px;
}

p.user-stats {
  background-color:#F9FFC2;
}

div.votes li {
  float:left;
  padding:4px;
}

div.votes a {
  font-size:40px;
  font-weight:900;
}

#favorite_submit {
  background-color:#f2f2f2!important;
  border:1px solid #ccc!important;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  width:24px;
  height:24px;
  outline:none;
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.2);
  -moz-box-shadow:0 1px 3px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.2);
  box-shadow:0 1px 3px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.2);
  margin:0 2px 0 0 !important;
  padding:20px!important;
}

#favorite_submit.favorite {
  background:url(/images/favorite.png) 8px 7px no-repeat;
}

#favorite_submit.not-favorite {
  background:url(/images/not-favorite.png) 8px 7px no-repeat;
}

#favorite_submit:hover {
  background-color:#ccc!important;
}

div.votes li.value {
  font-size:48px;
  font-weight:900;
}

div.votes li.up {
  padding-top:8px;
}

div.votes li.down a {
  color:#ccc;
}

div.info-data {
  display:block;
  clear:both;
}

div.question pre {
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  line-height:12px;
  margin:12px 0;
}

div.answer {
  width:940px;
  padding:0 0 0 12px;
}

div.answer pre {
  font-size:14px;
  background-color:#f2f2f2!important;
  margin:12px 0!important;
}

div.question h3 {
  font-size:26px;
  letter-spacing:-1px;
  color:#333;
  margin:12px 0;
}

ul.question-answers li.answer {
  border-bottom:2px solid #ccc;
  margin:0;
  padding:24px 0;
}

ul.question-answers li.answer div.content {
  font-size:14px;
  color:#000;
  line-height:20px;
  font-weight:500;
  padding:12px;
}

ul.question-answers li div.info-data img {
  float:right;
  border:2px solid #ccc;
  margin:-12px 0 0 12px;
}

ul.question-answers li div.info-data {
  text-align:right;
  color:#333;
  font-size:12px;
  border-top:1px dotted #ccc;
  font-style:oblique;
  margin:6px 0 0;
  padding:12px 0 0;
}

input[type="submit"],input[type="button"] {
  cursor:pointer;
}

h2.alt {
  text-align:center;
  border:none!important;
  color:#999!important;
}

h2.user span {
  font-size:14px;
  font-weight:400;
  letter-spacing:0;
  font-style:oblique;
}

div.box-form {
  background:#fff;
  border:8px solid #eee;
  width:500px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  -moz-box-shadow:0 0 10px #4e707c;
  -webkit-box-shadow:0 0 10px #4e707c;
  box-shadow:0 0 10px #4e707c;
  text-align:left;
  position:relative;
  margin:20px auto;
  padding:24px;
}

div.box-form label {
  color:#666;
  font-weight:900;
}

div.box-form div.actions {
  margin:12px 0 0;
}

div.box-form input[type="submit"] {
  font-size:14px;
  font-weight:900;
  padding:8px!important;
}

div.box-form input[type="submit"]:hover {
  color:#f64448;
}

div#login-form input[type="text"],div#login-form input[type="password"],div#password-form input[type="text"] {
  width:400px;
  font-size:14px;
  font-weight:900;
  padding:12px;
}

p.member-login {
  font-size:12px!important;
  color:#666;
  margin:24px 0 0;
}

div#user-form input[type="text"] {
  width:400px;
  padding:5px;
}

ul.share {
  margin:8px 0 0;
}

ul.share li {
  float:left;
  margin:0 8px 0 0;
}

div#box-form-question,div#box-form-user {
  margin:12px;
}

div#box-form-question div.field,div#box-form-user div.field,div.box-form div.field {
  margin:0 0 24px;
}

div#box-form-avatar,div.question ul.meta,ul.question-answers {
  margin:12px 0;
}

div#box-form-avatar div.confirmation ul li a.yes,div.votes li.down a:hover {
  color:red;
}

div.question h3 a:hover,div.votes li.up a:hover {
  color:#F64448;
}

ul.user-list li p,div.votes,div.answer {
  float:left;
}

/* Footer
-------------------------------------------------------------- */

footer {
  display:block;
  font-size:12px;
  background-color:#333;
  color:#f2f2f2;
  width:1060px;
  margin:0 auto;
}

footer a {
  color:#F64448;
}

footer div {
  padding:24px;
}

footer ul {
  float:right;
  margin:10px 12px 0 0;
}

footer ul li {
  float:left;
  border-right:1px dotted #ccc;
  margin:0 6px 0 0;
  padding:0 6px 0 0;
}

footer ul li.last {
  border:none;
  margin:0;
  padding:0;
}

footer ul li a:hover {
  border-bottom:1px dotted #f64448;
}

/* Error messages post-form
-------------------------------------------------------------- */

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 14px!important;
  margin: -7px;
  background-color: #c00;
  color: #fff!important;
	text-shadow:none!important;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
  font-weight:900;
  color:red;
}

#error_explanation ul{
  margin:12px;
}

#error_explanation ul li {
  font-size: 12px;
}

.errFld {
  border-color:red!important;
}

/* Pagination
-------------------------------------------------------------- */

.apple_pagination {
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  text-align: center;
  padding: 1em; }
  em{
    color: #f64448!important;
  }
  .apple_pagination a, .apple_pagination span {
    padding: .2em .3em; }
  .apple_pagination span.disabled {
    color: #AAA; }
  .apple_pagination span.current {
    font-weight: bold;
    background: transparent url(apple-circle.gif) no-repeat 50% 50%; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }


/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */
.error,
.alert, 
.notice,
.success, 
.info 			{ padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd;margin:12px 0 0 0;text-align:center; }
.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice     { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info 			{ background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
.info a			{ color: #205791; }

/* Misc/Util
-------------------------------------------------------------- */

.clearfix:after                 { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix                { zoom: 1; } /* IE6 */
*:first-child+html .clearfix    { zoom: 1; } /* IE7 */

.field_with_errors{
  display:inline;
}

.field_with_errors label {
  background-color:red!important;
  color: #fff!important;
}