<%= render "layouts/breadcrumb" %>

<h2 class="alt">Cadastre-se!</h2>

<div id="user-form" class="box-form">
	<%= render "form" %>
	<p class="member-login">Já é cadastrado? <%= link_to "Efetue login!", login_path %></p>
</div>

<script>
$(function(){
	$('#user-form :submit').button();
	$('#user-form').find('input:text:first').focus();
});
</script>
