
<h2 class="alt">Cadastre-se!</h2>

<div id="user-form" class="box-form">
	<%= render "form" %>
	<p class="member-login">Já é cadastrado? <%= link_to "Efetue login!", login_path %></p>
  <div class="social-login">
	  <p><strong>Ou utilize um dos serviços abaixo para criar sua conta ou efetuar login:</strong></p>
    <div class="providers clearfix">
      <%= omniauth_providers %>
    </div>
  </div>
</div>

<script>
$(function(){
	$('#user-form :submit').button();
	$('#user-form').find('input:text:first').focus();
});
</script>
