<% if @questions.empty? %>
  <p>Nenhuma pergunta encontrada.</p>
<% else %>
  <% @questions.each do |question| %>
  	<div class="user-questions">
  		<%= render question %>
  	</div>
  <% end %>
<% end %>