<%= gravatar_for @user %>
<h2>
  <%= @user.name %>
</h2>

<div id="user-sidebar" class="sidebar">
<strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
</div>