<li>
  <%= render 'answers/votes', :answer => answer %>
  <div class="answer"><%= answer.content %></div>
  <div class="info-data">Enviada <%= time_ago_in_words(answer.created_at) %> atrás por <%= author_name(answer.user_id) %></div>
</li>