<div class="votes" class="clearfix">
  <ul>
    <li class="down">
      <%= link_to "-", vote_down_path(:answer_id => answer.id) %>
    </li>
    <li class="value">
      <% if answer.score.nil? %>
        0
      <% else %>
        <%= answer.score %>
      <% end %>
    </li>
    <li class="up">
      <%= link_to "+", vote_up_path(:answer_id => answer.id) %>
    </li>
  </ul>
</div>
