<h2>Funfou!</h2>

<p>Desenvolvido em Ruby on Rails 3</p>

<p>Fonte utilizada</p>

<p>Os ícones bem pequenos, nas informações das perguntas (favoritos, respostas, visualizações)</p>

<p>O tema da interface é Aristo jQuery UI</p>
