<% if signed_in? %>
	<%= render 'questions/filters' %>

	<% @questions.each do |question| %>

		<div class="user-questions">
			<%= render question %>
		</div>
	<% end %>
	
	<div class="apple_pagination">
		<%= will_paginate @questions, :next_label => "próximo &raquo;", :previous_label => "&laquo; anterior" %>
	</div>

<% else %>
	<%= link_to "Cadastre-se", new_user_path %>
<% end %>
