<% if signed_in? %>
  <p class="btn-ask"><%= link_to "Perguntar!", new_question_path %></p>

	<% @questions.each do |question| %>
		<div class="user-questions">
			<%= render question %>
		</div>
	<% end %>

<% else %>
	<%= link_to "Cadastre-se", new_user_path %>
<% end %>
