<h2>Categorias</h2>

<div class="breadcrumb-container">
	<ul class="breadcrumb clearfix">
		<li><%= link_to "home", root_path, :title => "Página inicial" %></li>
		<li class="separator">/</li>
		<li><%= link_to "categorias", categorias_path, :title => "Categorias" %></li>
	</ul>
</div>


<% if @categories.empty? %>
	<p>Nenhuma categoria encontrada.</p>
<% else %>
	<ul id="categories">
	<% @categories.each do |category| %>
		<li><%= link_to category.name, categoria_path(category) %> (<%=total_questions(category)%>)</li>
	<% end %>
</ul>
<% end %>
