
<div class="breadcrumb-container ui-button ui-widget ui-state-default ui-corner-all">
	<ul class="breadcrumb clearfix">
		<li><%= link_to "home", root_path, :title => "Página inicial" %></li>
		<li class="separator">/</li>
		<li class="active"><%= link_to "categorias", categorias_path, :title => "Categorias" %></li>
	</ul>
</div>

<h2>Categorias</h2>

<% if @categories.empty? %>
	<p class="no-categories">Nenhuma categoria encontrada.</p>
<% else %>
	<ul id="categories" class="clearfix">
	<% @categories.each do |category| %>
		<li><%= link_to category.name, categoria_path(category) %> (<%=total_questions(category)%>)</li>
	<% end %>
</ul>
<% end %>
