<h2 class="category"><%= @category.name %><%= link_to "assine o feed desta categoria", feed_categories_path(@category, :format => "atom") %></h2>

<% if @questions.empty? %>
  <p>Nenhuma pergunta encontrada.</p>
<% else %>
  <% @questions.each do |question| %>
  	<div class="user-questions">
  		<%= render question %>
  	</div>
  <% end %>
<% end %>
