<h2><%= @category.name %></h2>

<% if @category.questions.empty? %>
  <p>Nenhuma pergunta encontrada.</p>
<% else %>
  <% @category.questions.each do |question| %>
  	<div class="user-questions">
  		<%= render question %>
  	</div>
  <% end %>
<% end %>
